@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: League Spartan;
    overflow-x: hidden;
}


@import './piece/components';
@import './piece/header';
@import './piece/middle';
@import './piece/menu';
@import './piece/tab';
@import './piece/footer';

ul{
    list-style: none;
}

