main{
    .menu{
        display: flex;
        background-color:#111;
        &__content{
            padding-top: 200px;
            padding-bottom: 123px;
            display: flex;
            justify-content: space-around;
            .menu-about{
                .caption{
                    flex-direction: column;
                    .title{
                        margin-top: 55px;
                    }
                }
            }
            .menu-slider{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                .slider-content{
                    width: 445px;
                    display: flex;
                    height: 460px;
                    overflow-y: hidden;
                    overflow-x: visible;
                    gap: 20px;
                    z-index: 999;
                    position: relative;
                    .slider{
                        position: absolute;
                        width: 445px;
                        display: flex;
                        flex-direction: column;
                        transition: 0.5s;
                        z-index: 999;
                        transform: scale(0);
                        &.active{
                            transform: scale(1);
                        }
                        .menu-title{
                            margin-top: 24px;
                            color: #FFF;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: -0.25px;
                        }
                        .menu-subtitle{
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                }
                .slider-line{
                    position: absolute;
                    top: 180px;
                    left:50px;
                    z-index: 1;
                    .first , .second{
                        background-color: #FFF;
                        width: 540px;
                        height: 1px;
                        opacity: 0.15;
                    }
                    .second{
                        position: absolute;
                        top: 120px;
                    }
                }
                .prev-btn , .next-btn{
                    cursor: pointer;
                }

            }
        }
    }
}
@media only screen and (min-width:601px) and (max-width: 1100px) {
    main{
        .menu{
            &__content{
                flex-direction: column;
                align-items: center;
                .menu-about{
                    display: flex;
                    flex-direction: column ;
                    align-items: center;
                    justify-content: center;
                    .caption{
                        display: flex;
                        align-items: center;
                        .title , .subtitle{
                            text-align: center; 
                        }
                    }
                }
                .menu-slider{
                    width: max-content;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;
                    .slider-content{
                        width: max-content;
                        display: flex;
                        flex-direction: column;
                        margin: 26px auto;
                        gap: 24px;
                        overflow: visible;
                        height: 600px;
                        .slider{
                            position: static;
                            height: max-content;
                            width: 573px;
                            display: flex;
                            transform: scale(1);
                            padding-bottom: 24px;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;
                            &:not(:last-child){
                                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                            }
                            img{
                                width: 128px;
                                margin-right: 60px;
                            }
                            
                        }
                    }
                    .slider-line{
                        display: none;
                        }
                    .prev-btn , .next-btn{
                        display: none;
                    }
    
                }
            }
        }
        }
}
@media only screen and (min-width: 375px) and (max-width: 600px),(max-width:375px){
    main{
        .menu{
            &__content{
                padding-top: 100px;
                padding-bottom: 123px;
                flex-direction: column;
                .menu-about{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    .caption{
                        width: 320px;
                        display: flex;
                        align-items: center;
                        .title , .subtitle{
                            width: 320px;
                            text-align: center;
                        }
                        }
                }
                .menu-slider{
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    .slider-content{
                        height: max-content;
                        width: max-content;
                        flex-direction: column;
                        overflow: visible;
                        .slider{
                            width: max-content;
                            transform: scale(1);
                            position: static ;
                            height: max-content;
                            display: flex;
                            padding-bottom: 58px;     
                            justify-content: space-between;
                            &:not(:last-child){
                                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                            }
                            img{
                                width: 320px;
                            }
                            .menu-title , .menu-subtitle{
                                width: 320px;
                                text-align: center;
                            }
                        }
                    }
                    .prev-btn , .next-btn , .slider-line{
                        display: none;
                    }
                }
            }
        }
    }
}